extends layout

block content
	#frame
		#header
			h1 Phoenix
			#grib_infos
			#date
			#slider
			menu
				button#temperature Temp
				button#wind Wind
				button#snow Snow
				button#clouds Clouds
		#map(data-type="temperature")
