doctype 5
html
	head
		title= title

		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4.4/leaflet.css')
		link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css')

		script(src='http://code.jquery.com/jquery-1.8.0.min.js')
		script(src='http://cdn.leafletjs.com/leaflet-0.4.4/leaflet-src.js')
		script(src='http://code.jquery.com/ui/1.10.0/jquery-ui.js')

		script(type='text/javascript', src='/javascripts/heatmap.js')
		script(type='text/javascript', src='/javascripts/heatmap-leaflet.js')
		script(type='text/javascript', src='/javascripts/phoenix.js')

	body
		block content
